@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
/* body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
} */
h1{ margin: 0; }

 button #contact-pop { 
      -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
  /* margin: 4em auto; */
  margin-top: 6em;
  padding-top: 2em;
  width: 200px; 
  height: auto; 
  line-height: 1.5em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1.3;
  z-index: 10;
  border-radius: 9999;
  /* margin: 1em auto; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* position: relative;
  top: 0px;
  right: 0px; */

 }


#contact-pop p {
  margin: 1em auto;
}

h4 {
  /* color: #333; */
  font-weight: 300;
  margin: 1.5em;
  font-size: 12px;
}

#contact-pop:hover { background: #666; }
#contact-pop:active { background: #444; }

#contactForm { 
  font-family: "Raleway"; 
  display: none;
  border: 6px solid rgb(10, 151, 53);; 
  border-radius: 30px;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  padding: 16px 3.5px 3px 3.35px;
  z-index: 10;
  /* display: none;
  z-index: 9999;
  width: 60vw;
  height: 60vh;
  align-items: center;
  width: 301px;
  height: 490px;
  margin: 35px 20px 20px 20px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff; */
  }

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: 12px;
    display: block; 
  width: 280px; 
  padding: .4em;
  font-size: 14px;
  color: #555;
    padding: 10px 7px 10px 2.5px;
}

/* #contactForm .your-name {
  border: 2px;
} */

input {
	margin: 0.8em auto;
	padding: 10px 7px 10px 2.5px;
	box-sizing: border-box;
	font-family: inherit;
	text-transform: inherit;
	display: block;
	width: 280px;
	outline: none;
	font-size: 14px;
	color: rgb(85, 85, 85);
}

textarea { height: 80px; resize: none; }

.formBtn { 
  width: 10ch;
  display: inline-block;
  text-transform: uppercase;
  background: rgb(36, 190, 16);
  color: #fff;
  font-weight: 100;
  font-size: .8em;
  border: none;
  height: 30px;
  border-radius: 20px; 
  margin: 2em;


  outline: none;
  cursor: pointer;
  text-align: center;

  transition: 0.5s;
  align-items: center;
  justify-self: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
}

.formBtn:hover {
  background:#2fdbb6;
}
.formBtn:active {
  background:#1da88a;
}


/* 
urvasi  */


.fields {
  width: 100%;
  padding: 16px 3.5px 3px 3.35px;
}
.fields input {
  border: none;
  outline:none;
  background: none;
  font-size: 14px;
  color: #555;
    padding: 10px 7px 10px 2.5px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.your-name {
  outline: none;
  border: none;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.your-email {
  outline: none;
  border: none;
   margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  }

  .form-text {
       margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
      outline: none;
      border: none;
      }



.submit-button {
  outline: none;
  border:none;
  cursor: pointer;
  width:100%;
  height: 36px;
  border-radius: 21px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background:#2fdbb6;
}
.signin-button:active {
  background:#1da88a;
}
.link {
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color:#aaa;
  font-size: 14px;
}




/* ===========Button Styling =============== */


.glow-on-hover {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #000;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #0bce1c;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 999px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

