@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display+SC&family=Press+Start+2P&display=swap');

:root {
  font-size: 16px;
  --transition-speed: 600ms;
}
body {
 background-color:#23232e;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

} 

button {
  overflow: visible;
}


.container {
  /* margin-inline: auto; */
  /* width: min(90%, 70.5rem); */
  min-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem; 
  text-transform: uppercase;
  color: #0d1317;
  /* color: black; */
  text-shadow: -1px -1px 0 rgb(36, 190, 16), 1px -1px 0 rgb(97, 230, 44), -1px 1px 0 #6baa75, 1px 1px 0 rgb(106, 197, 32),  0 0 20px;
  /* text-shadow:  #fff, 0 0 10px #fff, 0 0 50px #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c;  */
  font-style: italic;
  /* text color alternates */
   /* text-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 0 50px #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c;  */
   /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0  #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c; */
   margin: 20px auto;
   text-align: center;
   align-items: center;
}


/* Start of header section */
header {
  width: 100vw;
  /* overflow: hidden; */
}
#hero {
  display: flex;
  flex-shrink: inherit;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("https://i.ibb.co/xCvm8F7/header-cat.jpg");
 background-size: cover;
  background-repeat: no-repeat; 
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

#hero .align-items-center {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 80vw;
}

#hero .container h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8rem; 
  line-height: 1.5em;
  text-transform: uppercase;
  color: #0d1317;
  /* color: black; */
  text-shadow: -1px -1px 0 rgb(36, 190, 16), 1px -1px 0 rgb(97, 230, 44), -1px 1px 0 #6baa75, 1px 1px 0 rgb(106, 197, 32),  0 0 20px;
  /* text-shadow:  #fff, 0 0 10px #fff, 0 0 50px #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c;  */
  font-style: italic;
  /* text color alternates */
   /* text-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 0 50px #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c;  */
   /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0  #0bce1c, 0 0 50px #0bce1c, 0 0 40px #0bce1c, 0 0 100px #0bce1c, 0 0 75px #0bce1c; */
   margin: 20px auto;
   text-align: center;
   align-items: center;
}

#hero .container h2 {
   /* font-family: "Raleway"; */
  font-family: 'Press Start 2P', cursive;  
  font-size: 2.5rem;
  font-style: italics;
  color: #0bce1c;
  line-height: 1.5em;
  text-shadow: -1px -1px #000; 
  font-style: italic;
}

#hero h3 {
  /* text-transform: capitalize; */
  font-size: 2em;
  font-style: italics;
  color: #efefee;
  line-height: 1.3em;
  text-shadow: -1px -1px #0bce1c; 
  font-style: italic;
}


.purr {
  color: #0bce1c;
  text-shadow: -1px -1px #0d1317; 
  font-style: italic;
}

.banner-icons {
  padding: 24px;
}

.banner-icons a {
  display: inline-block;
  font-size: 36px;
  background: #474747;
  padding: 5px 10px;
  margin: 10px 7px;
  border-radius: 50%;
  color: #f5f3f5;
  transition: color 1s ease, transform 1s ease;
}

.banner-icons a:hover {
  color: #0bce1c;
  transform: translateY(-10px);
}

.banner nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}


nav {
  flex: 0 0 auto;
}  

.navbar {
  position: fixed;
  background-color: #23232e;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  /* padding-right: 15px; */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.nav-item {
  width: 100%;

}

/* .nav-item:last-child {
  margin-top: auto;
} */

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color:#b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  /* padding-right: 10px;
  margin-right: 1em; */
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #ececec;
}

.link-text {
  display: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #0bce1c;
}

.fa-secondary {
  color: #0a8f15;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #ececec;
  background: #141418;;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.container {
  display: inline-flex;
  flex-direction: column;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 100;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    z-index: 1001;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: auto;
  }

  #services {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: shrink;
    align-items: center;
    justify-content: center;
    /* margin-inline: 15%; */
  }

  #services .content img {
     width: 95%;
     height: 95%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg 
  {
    margin-left: 9rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}


@media screen and (min-width:900px) {
  nav ul {
    display: flex!important;
    /*    */
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(13, 19, 23, 0.8);
  }
  nav ul a {
    background: transparent;
  }
  nav ul a:hover {
    background: transparent;
    padding-left: 20px;
  }
  .nav-container {
    display: none;
  }
}

@media screen and (min-width:1920px) {
  .navbar {
    top: 0;
    /* width: 5rem; */
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .navbar:hover {
    width: 25rem;
  }
  #services {
    padding-bottom: 2em;
  }

  #services p {
     font-size: 2em;
  }

  #hero .container h1 {
    font-size: 4.5em;
  }

  #projects h1 {
    font-size: 3em;
  }



  #about h3 {
    font-size: 3rem;
  }

  #about p {
    font-size: 2em;
  }

  #about .glow-on-hover1 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* =======pop up contact======  */

/* #popup-wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
} */


/*################services##############*/

#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75)), url("https://i.ibb.co/gjF3W6Q/cat-matrix.jpg") center/cover fixed no-repeat;
  /* https://i.ibb.co/gjF3W6Q/cat-matrix.jpg */
  background-size: cover;
   flex-direction: flex;
    min-height: 90vh;
    min-width: 100vw;
 padding-top: 4em;
     font-weight: 550;
    align-items: center;
  }

  .content-sidebar {
    min-width: 100vw;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   /* overflow-y: hidden; */
    }

  .row-wrapper {
    margin: 1rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

   .content-sidebar .col-1 .col-2 {
     margin: 3rem;
    padding: 3rem;
    /* flex: 1 30%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
  }

  .content-sidebar .col-1 img {
     align-items: center;
    display: flex;
    text-align: center;
    width: 90%;
    border-radius: 50%;
    border: 4px solid #0a8f15;
    overflow-y: hidden;

  }
 
 .green-h3 {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
padding-top: 20px;
color: #0bce1c;
text-shadow: -1px -1px #0c9917; 
}

 #hero h1 {
  font-family: var(--ff-accent);

}

.service-text {
    /* line-height: 50px; */
    padding-left: 25px;
    color: #191716;
  }
  
  .service-text h3 {
    text-transform: uppercase;
    padding-top: 20px;
    color: #0bce1c;
    text-shadow: -1px -1px #0c9917; 
  }
  
  #services p {
    font-weight: 600;
  }
  .service-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 15px;
  }
  .content-sidebar .col-2  {
    /* flex: 1  70%; */
    max-width: 70ch;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
  }

  .content-sidebar .col-2 p {
    max-width: 35ch;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    overflow-y: hidden;
  }

@media screen and (min-width:576px) {
  .services-center {
    width: 70%;
  }
}

@media screen and (min-width:776px) {
  .services-center {
    width: 70%;
  }
}

/* #### Project Section #### */

#projects {
  width: 100%;
  padding-top: 3rem;
  /* padding: 40px 3rem  100px 3rem; */
  background-color: white;
}

#projects h1 {
  text-shadow: none;
}

#projects .title {
  padding-bottom: 2rem;
  text-align: center;
}
#projects .title-text  {
  font-size: .8em;
  color: #191716;
  text-transform: uppercase;
  text-align: center;
  padding: 20px auto;
}

#projects .title-underline {
  width: 150px; 
  border: 3px solid #0bce1c;
  margin: 15px auto;
  padding: 15px auto;

}

.projects-container {
  width: 100vw;
  margin: 0 auto;
  /* margin: 20px auto; */
  padding: 20px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
 }

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
} 
.card {
  max-width: 75%;
  margin: 20px;  
  align-items: center;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
 } 

.card img {
  max-width: 90%;
}

.card .text {
  max-width: 90%;
  padding: 10px;
  margin: 10px;
  align-content: center;
}

.card button {
  padding: 9px; 
  margin-top: 15px;
  border-radius: 30px;
  background: #0bce1c;
  color: #f5f3f5; 
  transition: color 1s ease-in-out, background 1s ease-in-out;
}

.card button:hover {
  color: #0bce1c;
  background: #f5f3f5;
}

.card h3 {
  margin-bottom: 10px;
  color: #0bce1c;
}

.card p {
  font-size: .9em;
}

.card:hover {
  opacity: 1.3;
  transform: scale(1.3);
}


@media screen and (min-width: 776px) {
		.projects-container{
      -webkit-flex-direction: row; 
      flex-direction: row;
      /* flex-wrap: wrap;  */
    }
  	 .projects-container .cards {
      flex: 2;
      height: auto;
      padding: 1%;
      flex-wrap: wrap; 
  }  
     .card {
     max-width: 35%;
    
   }
}

@media screen and (min-width: 1582px) {
#services {
  align-items: center;
  justify-content: center;
}
  
  #services .content  {
    /* max-width: 33vw; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-left: 5vw; */
    /* margin-right: 5vw; */
    justify-self: center;
    align-items: left;
    margin-top: 3rem;
  }
#services .content .row-wrapper {
  display: flex;
  flex-direction: row;
   flex-wrap: wrap;
   padding-top: 3rem;
}
  #services .content .row-wrapper h3 {
    font-size: 3em;
  }
  #services .content .row-wrapper p {
    font-size: 2em;
  }

 header #hero .container h1 {
       font-size: 4em;
  }

  header #hero .container h3 {
    font-size: 3em;
  }

    header #hero .banner-icons {
     padding: 40px;
    }

     header #hero .banner-icons a {
        font-size: 50px;
    }


    }

/* Projects END */

/*##############filler############*/
/* 
.filler {
  min-height: 60vh;
  background: url(img/filler-bcg.png) center/cover fixed no-repeat;
  padding-bottom: 20px;
}   */

/*############about#################*/

/* section {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
} */

.container-2 {
  margin-left: 2rem;
  width: min(90%, 70.5rem);
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  padding-right: .5rem;
}
.animation {
  margin-left: 1rem;
}

.about-text {
  margin-left: 2rem;
  margin-right: auto;
  align-items: center;
  overflow: hidden;
}

.about-text h2 {
  color: #474747;
  margin-bottom: 1rem;
}

.about-text p {
  font-weight: 500;
  padding-bottom: 2em;
  /* overflow: hidden; */
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

/* ===========Button Styling =============== */


.glow-on-hover1 {
  display: flex;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem;
   justify-content: center;
  text-align: center;
  align-items: center;
  background: #000;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #0bce1c;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  overflow: visible;
}

.glow-on-hover1 a {
  color: #0bce1c;
  background: #111;
  text-decoration: none;
}

.glow-on-hover1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
    color: #000
}

.glow-on-hover1:active:after {
    background: transparent;
}

.glow-on-hover1:hover:before {
    opacity: 1;
}

.glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#about {
  background-color: white;
  width: 100vw;
}
#about .animation {
  align-items:center;
  justify-content: center;
  margin-top: 3em;
  /* margin: 0 auto; */
  overflow-y: hidden;

}

#about .animation img {
  padding-left: 4rem;
  padding-top: 2rem;
  z-index: -1;
  overflow-y: hidden;
}



/*###############contact##########*/
#contact {
  width: 100vw;
  z-index: -10;
}
.contact {
  min-height: 80vh;
  background: linear-gradient(rgba(255, 255, 255, 0.7), transparent),
  url("https://i.ibb.co/yy4pWrf/projects-1.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card {
  /*  4*/
  flex: 0 0 80%;
  margin: 0 auto;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.75);
  /* 1 after form*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex: 0 0 60%; */
  color: #0bce1c;
  overflow: visible;
}

#contact form input {
  display: block;
  /* margin: 10px 0; */
  margin: 0 auto;
  border-radius: 20px;
  max-width: 60vw;
}

#contact form h3 {
  text-align: center;
  color: #0bce1c;
}

#contact form input,
form textarea {
  padding: 5px;
  border: 3px solid #0bce1c;
  max-width: 60vw;
}

#contact input::placeholder,
textarea::placeholder {
  color: #0bce1c;
}

#contact .form-btn {
  margin: 20px;
  font-size: 20px;
  border-radius: 40px;
  padding: 5px;
  background: #0bce1c;
  color: #f5f3f5;
  transition: color 1s ease-in-out, background 1s ease-in-out;
}

.form-btn:hover {
  color: #0bce1c;
  background: #f5f3f5;
}



/*###########footer############*/

footer {
  min-width: 100vw;
  margin: 0 auto;
  height: auto;
   text-align: center;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  text-align: center;
  /* background: #0bce1c; */
  background: linear-gradient(90deg, rgba(61,230,18,1) 1%, rgba(45,238,57,1) 2%, rgba(195,222,31,1) 100%);
  color: #0d1317;
  padding: 30px 10px;
  text-align: center;
  z-index: -15;
  bottom: 0;
  /* position: sticky; */

 
}

.footer-icons a {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px 7px;
  border-radius: 50%;
  background: #0d1317;
  color: #0bce1c;
  transition: color 1s ease, transform 1s ease;
}

.footer-icons a:hover {
  background: #0bce1c;
  color: #0d1317;
}

.footer-text {
  font-size: 14px;
  font-weight: 1000;
  /* padding: 15px; */
  margin: 0 auto;
  /* margin: 15px 3rem 15px 3rem; */
  max-width: 75vw;
  text-align: center;
  align-items: center;
  color: #191716;
  margin: 0 auto;
}

.fas fa-heart {
  color: #0bce1c;
}

footer p {
  color: #f5f3f5;
  font-size: 15px;
}

